:root {
  --color-dark: #222;
  --color-light: #ddd;
  --color-accent: #ffeb3b;
}

*, *::before, *::after {
  font-family: Consolas, Arial, sans-serif;
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem 1rem 0 1rem;
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  color: var(--color-light);
  height: 100vh;
  overflow: hidden;
}

body, input, button {
  font-size: 20px;
}

main {
  padding: 1rem;
  background: #222222F0;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

button {
  padding: 0.5rem;
  cursor: pointer;
  border: 0;
  border-radius: 0.2rem;
  background: var(--color-light);
  color: var(--color-dark);
  font-variant-caps: all-small-caps;
}

button:hover {
  background: var(--color-accent);
}

h1, label, button, h2 {
  text-align: center;
}

form {
  display: grid;
  grid-template-areas: "d a c b";
  grid-template-columns: 0.75fr 1fr 1fr 0.3fr;
  gap: 1rem;
}

form label {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.3rem;
  font-size: 1rem;
  min-width: 0;
}

.widthInput {
  grid-area: a;
}

.zoomInput {
  grid-area: b;
}

.heightInput {
  grid-area: c;
}

form > button {
  grid-area: d;
}

input {
  background: var(--color-dark);
  border: 0.1rem solid var(--color-light);
  outline: none !important;
  color: var(--color-light);
  padding: 0.3rem;
  border-radius: 0.2rem;
}

input:focus {
  border-color: var(--color-accent);
}

.imageContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, var(--img-width));
  justify-content: space-between;
  overflow: hidden auto;
}

.canvasContainer {
  position: relative;
}

.canvasContainer > button {
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  color: var(--color-light);
}

.canvasContainer > figcaption, .canvasContainer > button {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvasContainer > figcaption {
  width: 100%;
  padding: 0.25rem;
  background: var(--color-dark);
  color: var(--color-light);
  border-radius: 0.2rem 0.2rem 0 0;
  border: 1px solid var(--color-light);
  border-bottom: 0;
}

.canvasContainer > button:hover {
  color: var(--color-accent);
}

.zoom {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
  visibility: var(--zoom-visibility, hidden);
}

@media (max-width: 800px) {
  form {
    grid-template-rows: auto auto;
    grid-template-areas:
      "a c b" 
      "d d d";
    grid-template-columns: 1fr 1fr 0.3fr;
  }
}

@media (max-width: 600px) {
  form {
    grid-template-areas:
      "a b" 
      "c c" 
      "d d";
    grid-template-columns: 1fr 0.3fr;
  }
}
